*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 2em;
}

.container{
    display: flex;
    max-width: 65vw;
    margin: 0 auto;
}

section{
    display: flex;
    flex-wrap: wrap;

}
section.notes{
    flex-direction: column;
}

span{
    flex-grow: 1;
    border: 1px solid black;
    display: block;
    padding: 0.5em;
    text-align: center;
}

section span:nth-child(1),
section span:nth-child(7)
{
    flex: 1 0 100%;
}